
html,
body {
    margin: 0;
}
.clear{
    clear: both;
}
.main {
    max-width: 1170px;
    margin: 0 auto;
/*    background: blue;
*/    height: 80px;
/*border: 2px solid blue;*/

}
.row{
    width: 100%;
    /*height: 80px;*/
    display: block;
            /*border: 1px solid ;*/

}
.clearfix {
    clear: both;
}

[class*='col_'] {
    float: left;
        box-sizing: border-box;
            /*border: 1px solid blue;*/
            height: 80px;


}
.col_1 {
    width: 8.3333%;
}

.col_offset_1 {
    margin-left: 8.3333%;
}

.col_2 {
    width: 16.667%;
}
.col_22 {
    width: 16.667%;
}

.col_offset_2 {
    margin-left: 16.667%;
}

.col_3 {
    width: 25%;
}

.col_offset_3 {
    margin-left: 25%;
}

.col_4 {
    width: 33.3333%;
}

.col_offset_4 {
    margin-left: 33.3333%;
}

.col_5 {
    width: 41.6667%;
}

.col_offset_5 {
    margin-left: 41.6667%;
}

.col_6 {
    width: 50%;
}

.col_offset_6 {
    margin-left: 50%;
}

.col_7 {
    width: 58.3333%;
}

.col_offset_7 {
    margin-left: 58.3333%;
}

.col_8 {
    width: 66.6667%;
}

.col_offset_8 {
    margin-left: 66.6667%;
}

.col_9 {
    width: 75%;
}

.col_offset_9 {
    margin-left: 75%;
}

.col_10 {
    width: 83.3333%;
}

.col_11 {
    width: 91.6667%;
}

.col_12 {
    width: 100%;
}

.element1 {
    height: 150px;
    background: #ccc;
}

.element2 {
    height: 150px;
    background: #745154;
}
@media (min-width: 500px) and (max-width: 760px){
    #slider>.main>.row>.col_2{
   width: 45%;
}
#slider>.main>.row>.col_22{
   width: 53%;
}
    #slider>.main>.row>.col_8{
    width:0;
}
 #header>.main>.hR>ul>li:nth-child(8){
/*       display: none;
*/    }
    #header>.main>.hR>ul{
        display: block;
    }
      #header>.main>.hR>ul>li:nth-child(9){
        position: absolute;
        top:11px;
        right: 30px;
            background: #333333;
    color: white;
    }
    #header>.main>.hR{
        display: table;
    }
    #header>.main>.col_8{
margin-left: 1px;
}
#slider>.main>.bRR>button{
    background-color: white;
    border: none;
    color: black;
    padding: 26px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px -1px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

}

@media screen and (max-width: 500px) {
#slider>.main>.row>.col_2{
   width: 45%;
}
#slider>.main>.row>.col_22{
   width: 53%;
}
    #slider>.main>.row>.col_8{
    width:0;
}
 #header>.main>.hR>ul>li:nth-child(8){
       display: none;
    }
     #header>.main>.hR>ul>li:nth-child(9){
        position: absolute;
        top:11px;
        right: 30px;
            background: #333333;
    color: white;
    }
    
    
 #header>.main>.hR>ul{
        display: block;
    }
    #header>.main>.hR{
        display: table;
    }
       #header>.main>.col_8{
margin-left: 1px;
}

.sliderD>img{
display: none;
  }
        .rM>p{
display: inline-block;
}
.rM>p:first-child{
    font-size: 20px;
    font-weight: 900;
    font-family: myFirstFontR;

}
.rM>p:nth-child(2){
    font-size: 20px;
    font-weight: 100;
    font-family: myFirstFontT;

}
.rM>p:nth-child(3){
    font-size: 20px;
    font-weight: 100;
    font-family: myFirstFontT;

}
.rM>p:nth-child(4) {
    font-size: 15px;
    font-weight: 200;
    font-family: myFirstFont;
    width: 70%;
    margin-top: 2%;
}
 
}


@media (min-width: 500px) and (max-width: 900px) {
       #header>.main>.hR>ul>li:nth-child(8){
        position: absolute;
        top:11px;
        right: -15px;
    }


      .rM>p{
display: inline-block;
}
.rM>p:first-child{
    font-size: 45px;
    font-weight: 900;
    font-family: myFirstFontR;

}
.rM>p:nth-child(2){
    font-size: 45px;
    font-weight: 100;
    font-family: myFirstFontT;

}
.rM>p:nth-child(3){
    font-size: 45px;
    font-weight: 100;
    font-family: myFirstFontT;

}
.rM>p:nth-child(4){
        font-size: 20px;
                font-weight: 200;
                font-family: myFirstFont;

           width: 60%;

           margin-top: 2%;

}

}
@media (min-width: 760px) and (max-width: 1100px){
    #header>.main>.col_2{
        width: 10%;
    }
#header>.main>.hR>ul>li:nth-child(9){
    display: none;
}

    #header>.main>.hR>ul>li {
            text-decoration: none;
    list-style-type: none;
    padding: 17px 1.7%;
    font-weight: 900;
    color: #666;
    font-size: 13px;
    font-family: myFirstFont;
    }
}
@media (min-width: 760px){
    #header>.main>.hR>ul>li:nth-child(9){
    display: none;
}
 #slider>.main>.row>.col_8{
        width: 60.6667%;
 }
 #slider>.main>.row>.col_2{
            width: 21.667%;
 }
}